.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
        
    height: 74px;
    display: flex;
    /* horizontally center */
    justify-content: center;
    /* for vertical center */
    align-items: center;
    flex-direction: column;
    cursor: pointer;
   
}
.sidebar-link:hover{
    background-color: rgb(232, 230, 230);
    
   
}
/*  this will apply to all the images inside div having class : sidebar */
.sidebar-link img{
    margin-bottom: 5px;
    height: 24px;

}
.sidebar-link div{

    height: 24px;
    font-family: roboto, arial;
    font-size: 12px;


}

/* create expanded sidebar design when page is >=1200px */
@media(min-width: 1200px)
{
       .sidebar{
         width: 200px;

       }
      .sidebar-link{
        flex-direction: row;
        height: 40px;
        font-size: 100px;
        position: relative;
    

      }
      .sidebar-icon{
        position: absolute;
        left: 20px;
      }
      .sidebar-link div{
        font-size: 16px;
        font-family: roboto, arial;
        margin: 15px;
        align-items: left;
        /* justify-content: left; */
      }

      .sidebar-text{
        /* font-size: 16px;
        font-family: roboto, arial;
        margin: 15px;
        align-items: left;
        justify-content: left; */

        position: absolute;
        left: 70px;
      }


}

